<!DOCTYPE html>
<html>
    <head>
        <title>Btstrp4</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all' %>
        <%= javascript_include_tag 'application' %>
    </head>

    <body>
<!--    <%= render "layouts/sidebar" %>
        <%= render "layouts/navbar" %> -->
        <%= yield %>
    </body>
</html>
